[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
umap = "*"
scikit-learn = "*"
scipy = "*"
uncertainties = "*"
seaborn = "*"
scikit-image = "*"
nibabel = "*"

[requires]
python_version = "3.8"
